*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--small-border: 0.3rem;
	--big-border: 0.5rem;

	--semi-gray: #bdbdbd;
	--dark-gray: #7b7b7b;
	--light-gray: white;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	background-color: lightblue;
}

#preload {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	pointer-events: none;
	z-index: -1000000000;
}
