*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--small-border: 0.3rem;
	--big-border: 0.6rem;

	// --semi-gray: #c0c0c0;
	// --dark-gray: #7b7b7b;
	// --light-gray: white;
	--semi-gray: #bdbdbd;
	--dark-gray: #a0a0a0;
	--light-gray: #eeeeee;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	background-color: rgba(106, 135, 223, 0.622);
}

#preload {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	pointer-events: none;
	z-index: -1000000000;
}
